<div>
    <h2>{{productos}}</h2>
    <input type="text" name="title" id="title">
    <div id="ProductoAgregado"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>